@import url("//fonts.googleapis.com/css?family=Cinzel:400,700");
@import url("//fonts.googleapis.com/css?family=Roboto:400,300,500,700");
body{
    background-color:scale-color(#4c4240,$lightness:95);
}
.top-header{
    background: #4c4240; /* Old browsers */
    background: url('../images/top-header-bkg.jpg'), -moz-linear-gradient(left,  #4c4240 0%, #4c4240 46%, #4c4240 46%, #13120e 53%, #13120e 100%); /* FF3.6+ */
    background: url('../images/top-header-bkg.jpg'), -webkit-gradient(linear, left top, right top, color-stop(0%,#4c4240), color-stop(46%,#4c4240), color-stop(46%,#4c4240), color-stop(53%,#13120e), color-stop(100%,#13120e)); /* Chrome,Safari4+ */
    background: url('../images/top-header-bkg.jpg'),  -webkit-linear-gradient(left,  #4c4240 0%,#4c4240 46%,#4c4240 46%,#13120e 53%,#13120e 100%); /* Chrome10+,Safari5.1+ */
    background: url('../images/top-header-bkg.jpg'), -o-linear-gradient(left,  #4c4240 0%,#4c4240 46%,#4c4240 46%,#13120e 53%,#13120e 100%); /* Opera 11.10+ */
    background: url('../images/top-header-bkg.jpg'), -ms-linear-gradient(left,  #4c4240 0%,#4c4240 46%,#4c4240 46%,#13120e 53%,#13120e 100%); /* IE10+ */
    background: url('../images/top-header-bkg.jpg'), linear-gradient(to right,  #4c4240 0%,#4c4240 46%,#4c4240 46%,#13120e 53%,#13120e 100%); /* W3C */
    background-repeat:no-repeat;
    background-position:center top;
    background-attachment:fixed;
    position:relative;
    overflow:hidden;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4240', endColorstr='#13120e',GradientType=1 ); /* IE6-9 */
    @media screen and (min-width:320px){
        height:auto;
        padding-top:233px;
    }
    @media screen and (min-width:641px){
        height:233px;
        padding-top:0;
    }
    .name,
    .occupation{
        color:#f1f1f1;
        font-family:"Cinzel", Helvetica, Arial;
        text-shadow:2px 1px 5px rgba(0,0,0,.7);
        -webkit-transition: all ease .2s;
        -moz-transition: all ease .2s;
        -o-transition: all ease .2s;
        -ms-transition: all ease .2s;
        transition: all ease .2s;
        display:block !important;
        @media screen and (min-width:320px){
            position:relative;
            background-color:rgba(0,0,0,.4);
            width:100%;
            text-align:center;
            margin:0;
        }
        @media screen and (min-width:641px){
            width:100%;
            padding:rem-calc(10);
            margin-top:rem-calc(20);
        }
        @media screen and (min-width:1200px){
            width:auto;
            background-color:transparent;
            padding:rem-calc(80) rem-calc(20) rem-calc(20) rem-calc(20);
            text-align:left;
        }
    }
    .name{
        @media screen and (min-width:320px){
            font-size:rem-calc(32);
        }
        @media screen and (min-width:641px){
            font-size:rem-calc(50); 
        }
    }
    .occupation{
        @media screen and (min-width:320px){
            font-size:rem-calc(20);
        }
        @media screen and (min-width:641px){
            font-size:rem-calc(40); 
        }
    }
}

.main-navigation{
    background-color:scale-color(#4c4240,$lightness:90);
    box-shadow:inset 0 5px 10px rgba(0,0,0,.1);
    height:auto;
    border-top:1px solid scale-color(#4c4240,$lightness:70);
    border-bottom:1px solid scale-color(#4c4240,$lightness:80);
    ul{
        @media screen and (min-width:320px){
            margin:0;
            display:block;
        }
        @media screen and (min-width:768px){
            display:table;
            margin:0 auto
        }
        li{
            @media screen and (min-width:320px){
                width:100%;
                display:block;
                float:left;
                margin-left:0;
            }
            @media screen and (min-width:768px){
                width:auto;
                display:block;
            }
            a{
                @media screen and (min-width:320px){
                    padding:rem-calc(10) rem-calc(20);
                }
                @media screen and (min-width:768px){
                    padding:rem-calc(10) rem-calc(40);
                }

                font-family:"Roboto",Arial;
                -webkit-tap-highlight-color:transparent;
                display:block;
                color:#4c4240;
                font-weight:400;
                font-size:rem-calc(20);
                -webkit-transition: all ease .5s;
                -moz-transition: all ease .5s;
                -o-transition: all ease .5s;
                -ms-transition: all ease .5s;
                transition: all ease .5s;
                border-bottom:3px solid transparent;
                &.active{
                    box-shadow:inset 0 5px 10px rgba(0,0,0,.2);
                    background-color:scale-color(#4c4240,$lightness:-10);
                    @media screen and (min-width:768px){
                        border-bottom:3px solid transparent;
                    }
                }
                &.active{
                    background-color:scale-color(#4c4240,$lightness:-15);
                    color:scale-color(#4c4240,$lightness:98);
                    @media screen and (min-width:768px){
                        color:#4c4240;
                        background-color:transparent;
                        border-bottom:3px solid scale-color(#4c4240,$lightness:-15);
                    }
                }
            }
        }
    }
}

.view-content{
    padding:rem-calc(30);
    .view-title,
    .view-description{
        color:#4c4240;
    }
    .view-title{
        font-family:"Cinzel", Helvetica, Arial;
        font-weight:300;
        text-align:left;
    }
    .view-description{
        @media screen and (min-width:768px){
            width:70%;
        }
        font-size:rem-calc(24);
        font-family:"Roboto", Helvetica, Arial;
        font-weight:300;
        text-align:left;
        line-height:1.2;
    }
}

.skill-items{
        font-size:rem-calc(18);
        margin:0;
        @media screen and (min-width:768px){
            width:70%;
        }
        .skill{
            margin-top:rem-calc(10);
            background-color:#4c4240;
            color:white;
            padding:rem-calc(2) rem-calc(10);
            border-radius:3px;
        }
}

.project-items{
    margin:0;
    .project{
        margin:rem-calc(20) 0;
        padding:rem-calc(10);
        border:1px solid #ddd8d7;
        border-radius:3px;
        background-color:#eeebeb;
        @media screen and (min-width: 320px){
            width:100%;
        }
        @media screen and (min-width: 768px){
            width:280px;
            margin-right:rem-calc(20);
        }
        .brand{
            margin:0;
            font-family:"Cinzel", Helvetica, Arial;
            font-weight:500;
            font-size:rem-calc(32);
            color:#4c4240;
        }
        .occupation{
            margin:0;
            font-size:rem-calc(20);
            font-family:"Roboto",  Arial;
            font-weight:300;
        }
        .project-url{
            display:block;
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
        }
        .skill-items{
            .skill{
                margin-left:0;
                margin-right:rem-calc(5);
                margin-top:rem-calc(5);
                font-size:rem-calc(14);
            }
        }
    }
}

.me-view{
    .skills{
        margin-top:rem-calc(30);
        .skill-items{
            margin-top:rem-calc(10);
        }
    }
}
.work-view{
    .projects{
        margin-top:rem-calc(10);
        .project-items{
            margin:0 auto;
            width:auto;
        }
    }
}

.social-networks-view{
    .social-feed{
        margin-top:rem-calc(30);
    }
}
