@import url("//fonts.googleapis.com/css?family=Philosopher:400,700");
@import url("//fonts.googleapis.com/css?family=Roboto:400,300,500,700");

$main-background: #1a1a1a;
$main-forecolor: #f1f1f1;

body{
    background-color:$main-background;
    &.cover-1{
        background-image:url('../images/cover1.jpg'); 
        background-position:top;     
    }
    &.cover-2{
        background-image:url('../images/cover2.jpg'); 
        background-position:center;       
    }
    &.cover-3{
        background-image:url('../images/cover3.jpg'); 
        background-position:right;       
    }
    &.cover-4{
        background-image:url('../images/cover4.jpg'); 
        background-position:center;       
    }
    background-attachment:fixed;
    background-size:cover;
    color:$main-forecolor;
}
.landing{
    position:relative;
    overflow:hidden;
    height:auto;
}

.base-header{
    position:relative;
    margin-left:rem-calc(40);
    margin-top:rem-calc(20);
    .name,
    .occupation{
        color:$main-forecolor;
        font-family:"Philosopher", Helvetica, Arial;
        text-shadow:2px 1px 5px rgba(0,0,0,.2);
        -webkit-transition: all ease .2s;
        -moz-transition: all ease .2s;
        -o-transition: all ease .2s;
        -ms-transition: all ease .2s;
        transition: all ease .2s;
        display:block;
        line-height:1;
    }
    .name{
        font-size:rem-calc(72);
        font-weight:700;
    }
}

.main-navigation{
    height:auto;
    height:100%;
    ul{
        list-style:none;
        margin:0;
        li{
            height:auto;
            width:auto;
            float:left;
            a{
                font-family:"Philosopher", Helvetica, Arial;
                display:block;
                margin-right:rem-calc(20);
                color:rgba($main-forecolor,.3);
                font-size:rem-calc(24);
                text-align:center;
                border-radius:2px;
                border:1px solid rgba($main-forecolor,.3);
                padding:0 rem-calc(10);
                -webkit-transition: all ease .5s;
                -moz-transition: all ease .5s;
                -o-transition: all ease .5s;
                -ms-transition: all ease .5s;
                transition: all ease .5s;
                &:hover,
                &.active{
                    color:$main-forecolor;
                    border-color:$main-forecolor; 
                }
            }

        }
    }
}

.social-btns{
    font-size:rem-calc(20);
    margin-left:0;
    li{
        margin-right:rem-calc(20);
        margin-left:0;
    }
    a{
        color:rgba($main-forecolor,.5);
        &:hover,{
            color:$main-forecolor;
        }
    }
}

.view-content{
    padding:rem-calc(60) rem-calc(40);
    width:100%;
    background: -moz-linear-gradient(top,  rgba(26,26,26,0) 0%, rgba(26,26,26,0.7) 17%, rgba(26,26,26,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,26,26,0)), color-stop(17%,rgba(26,26,26,0.7)), color-stop(100%,rgba(26,26,26,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(26,26,26,0) 0%,rgba(26,26,26,0.7) 17%,rgba(26,26,26,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(26,26,26,0) 0%,rgba(26,26,26,0.7) 17%,rgba(26,26,26,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(26,26,26,0) 0%,rgba(26,26,26,0.7) 17%,rgba(26,26,26,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(26,26,26,0) 0%,rgba(26,26,26,0.7) 17%,rgba(26,26,26,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#b31a1a1a',GradientType=0 ); /* IE6-9 */

    .view-title,
    .view-description{
        color:$main-forecolor;
    }
    .view-title{
        font-family:"Philosopher", Helvetica, Arial;
        font-weight:300;
        text-align:left;
    }
    .view-description{
        @media screen and (min-width:768px){
            width:70%;
        }
        font-size:rem-calc(24);
        font-family:"Roboto", Helvetica, Arial;
        font-weight:300;
        text-align:left;
        line-height:1.2;
    }
}

.skill-items{
        margin:0;
        font-size:rem-calc(18);
        .skill{
            margin-left:rem-calc(20);
            margin-top:rem-calc(10);
            background-color:rgba($main-background,.7);
            color:$main-forecolor;
            padding:rem-calc(2) rem-calc(10);
            border-radius:3px;
        }
}

.project-items{
    margin:0;
    .project{
        margin:rem-calc(20) 0;
        padding:rem-calc(10);
        border-radius:3px;
        background-color:rgba($main-background,.5);
        @media screen and (min-width: 320px){
            width:100%;
        }
        @media screen and (min-width: 768px){
            width:280px;
            margin-right:rem-calc(20);
        }
        .occupation{
            margin:0;
            font-size:rem-calc(20);
            font-family:"Roboto",  Arial;
            font-weight:300;
            color:$main-forecolor;
        }
        .project-url{
            display:block;
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            background-color: rgba(#1DE9B6,.2);
            /* border: 1px solid black; */
            border-radius: 3px;
            color: #f1f1f1;
            padding: 8px;
            text-align: center;
            text-transform: uppercase;
            margin-top: 10px;
            font-weight: 500;
            &:hover{
                background-color: rgba(#1DE9B6,.5);
            }
        }
        .project-logo{
            min-height:33px;
            max-height: 40px;
            margin: 0 auto;
            display: block;
        }
        .project-brand{
            margin:rem-calc(20) 0;
            font-size:rem-calc(16);
            padding:5px;
            border-bottom:1px dashed rgba($main-forecolor,.2);
            border-top:1px dashed rgba($main-forecolor,.2);
            color:$main-forecolor;
            font-weight:300;
            text-align:center;
        }
        .project-description{
            line-height:1.2;
            color:#ddd;
        }
        .skill-items{
            .skill{
                margin-left:0;
                margin-right:rem-calc(5);
                margin-top:rem-calc(5);
                font-size:rem-calc(14);
            }
        }
    }
}

.me-view{
    .skills{
        @media screen and (min-width: 320px){
            width:100%;
        }
        @media screen and (min-width: 768px){
            width:70%;
        }
        margin-top:rem-calc(30);
        .skill-items{
            margin-top:rem-calc(10);
            margin-left: - rem-calc(20);
        }
    }
}
.work-view{
    .projects{
        margin-top:rem-calc(10);
        .project-items{
            margin:0 auto;
            width:auto;
        }
    }
}

.social-networks-view{
    .social-feed{
        margin-top:rem-calc(30);
    }
}

