<section class="me-view">
    <h1 class="view-title">Acerca de mi</h1>
    <h2 class="view-description">
        Desarrollador Web. Coexisto entre Front y Back End, aunque mi pasión
        está en todo código que sea ejecutado en un navegador web, por lo que
        actualmente prefiero presentarme como Desarrollador Front End.
    </h2>
    <section class="skills">
        <h1 class="view-title">Qué hago</h1>
        <h2 class="view-description">
            Podría agregar una lista con todos los
            lenguajes y tecnologías que he trabajado, pero para reflejar
            de forma transparente mis skills actuales, esto es en lo que trabajo
            a diario. Datos obtenidos en tiempo real gracias a <a href="http://codeivate.com/users/jaimeguaman" target="_blank">Codeivate</a> 
        </h2>
        <ul class="skill-items inline-list clearfix">
            <li class="skill" ng-repeat="skill in skills">{{ skill }}</li>
        </ul>
    </section>
</section>